<h1>Login to Game of Awesomeness</h1>
<form class="login-form" (ngSubmit)="login()" [formGroup]="loginFormGroup">
    <mat-form-field>
        <input matInput placeholder="Player name*" formControlName="name">
        <mat-error *ngIf="loginFormGroup.controls['name'].invalid">Please state your player name.</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Email*" formControlName="email">
        <mat-error *ngIf="loginFormGroup.controls['email'].invalid">Please give us your email - we really really need it.</mat-error>
    </mat-form-field>
    <button mat-button mat-raised-button type="submit">Login</button>
</form>